<html>
<head>
    <h1>Customer Register Page</h1>
</head>
<body>
<form action="/customerRegisterAuth" method="POST">
	<input type="text" name = "email" placeholder="email" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
    <input type="text" name = "firstName" placeholder="First Name" required/></br>
    <input type="text" name = "lastName" placeholder="Last Name" required/></br>
    <input type="text" name = "buildingNum" placeholder="Building Number" required/></br>
    <input type="text" name = "streetName" placeholder="Street Name" required/></br>
    <input type="text" name = "aptNum" placeholder="Apartment Number" required/></br>
    <input type="text" name = "city" placeholder="City" required/></br>
    <input type="text" name = "state" placeholder="State" required/></br>
    <input type="text" name = "zipCode" placeholder="Zip Code" required/></br>
    <input type="text" name = "phoneNum" placeholder="Phone Number" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Return</a>
</body>
</html>
